%learning-objectives-grade-overview.objective-overview{"data-grade-id"=>"#{presenter.grade_for_student(current_student).id}", 
                                                       "data-assignment-id"=>"#{presenter.assignment.id}",
                                                       "data-student-id"=>"#{current_student.id}"}