<header-component data-component></header-component>
<div class='wrapper dashboard'>
  <guide-control data-component></guide-control>
  <% if !(Rails.env.production?) %>
    <div class="content_block intro">
      <h1>Manage My Course Licenses</h1>
    </div>
    <licenses-dash data-component stripe-pk=<%= @stripePk %> ></licenses-dash>
  <% end %>
</div>
