<div class='wrapper dashboard'>
  <guide-control data-component></guide-control>

  <% if @user_role != "admin"%>
    <overview-container data-component></overview-container>
  <% else %>
    <admin-index data-component></admin-index>
  <% end %>
</div>
