<div class="wrapper dashboard">
  <% if current_user.any_course_professor? %>
    <guide-control data-component></guide-control>
    <overview-container data-component></overview-container>
  <% elsif current_user.any_course_gsi? %>
    <guide-control data-component></guide-control>
    <overview-container data-component></overview-container>
  <% elsif current_user.is_global_admin? %>
    <adminindex data-component></adminindex>
  <% else %>
    <guide-control data-component></guide-control>
    <overview-student data-component></overview-student
  <% end %>
</div>
