<% if @user_role != "admin"%>
  <div class="wrapper dashboard">
    <guide-control data-component></guide-control>
    <overview-container data-component></overview-container>
  </div>

<% else %>
  <div class="wrapper dashboard">
    <div class="content_wrapper">
      <sidenav data-component></sidenav>
      <admin-index data-component></admin-index>
    </div>
  </div>
<% end %>
