<% if @user_role != "admin"%>
  <div class="wrapper dashboard">
    <guide-control data-component></guide-control>
    <overview-container data-component></overview-container>
  </div>

<% else %>
  <div class="wrapper dashboard">
    <adminindex data-component></adminindex>
  </div>
<% end %>
