Good news, #{@owner.first_name}!

Your requested analytics export for course "#{@course.course_number} #{@course.name}" was successfully created.

You can download the analytics export from the downloads page here: #{downloads_url}.

Thanks for being gameful!
GradeCraft
