<header-component data-component></header-component>

<div class='wrapper dashboard'>
  <guide-control data-component></guide-control>

  <assignment-component data-component></assignment-component>
</div>
