Welcome to GradeCraft, #{@user.first_name}!

Your new account is almost done! Please confirm your email address with this link:
#{ activate_user_url(@user.activation_token).html_safe}
so you can get started creating your new course.

Go gameful!
GradeCraft
