%td.hero_img
  = image_tag "email-hero_Happy.png", alt: "a yeti illustration is here!", width: "1200", height: "435"

%td
  %h1
    Welcome to GradeCraft, #{@user.first_name}!

  %p
    Your new account is almost done! Please activate your account by confirming your email address and setting your password.

  = link_to activate_set_password_user_url(@user.activation_token).html_safe
    %button Activate your account

  %p
    Go gameful!
    %br
    GradeCraft
