%td.hero_img
  = image_tag "email-hero_Happy.png", alt: "a yeti illustration is here!", width: "1200", height: "435"

%td
  %h1
    Welcome to GradeCraft, #{@user.first_name}!

  %p
    Your new account is almost done! Please confirm your email address so you can get started creating your new course.

  = link_to activate_user_url(@user.activation_token).html_safe
    %button Confirm your email address

  %p
    Go gameful!
    %br
    GradeCraft
