Welcome to GradeCraft, #{@user.first_name}!

Your new account is almost done! Please activate your account by confirming your email address and setting your password with this link:
#{activate_set_password_user_url(@user.activation_token).html_safe}

Go gameful!
GradeCraft
