Rest Your password

Hello, #{@user.first_name}

You requested to reset your password. You can do so with the link below:
#{edit_password_url(@user.reset_password_token).html_safe}

Thanks for being gameful!
GradeCraft
