%td.hero_img
  = image_tag "email-hero_Neutral.png", alt: "a yeti illustration is here!", width: "1200", height: "435"

%td
  %h1
    Reset your password

  %p
    Hello, #{@user.first_name}, you requested to reset your password.


  = link_to "Reset your password", edit_password_url(@user.reset_password_token).html_safe, class: "button"

  %p
    Thanks for being gameful!
    %br
    GradeCraft
