@import "../utilities/variables"
@import "../utilities/mixins"


/* Top Level Dashboard */
.course_box
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  padding: 2em 0 0 0

  &:after
    content: ''
    width: 32%

.course_card
  box-sizing: border-box
  width: 32%
  padding: 0 0 4em 0
  margin-bottom: 1.5em
  border: 1px solid $grey_1
  background-color: white
  position: relative

  @include tablet-xl
    width: 48.5%

  @include tablet-portrait
    width: 100%

  & > *
    padding: 0.5em

  & > h4
    background-color: $blue_dark
    color: white
    font-family: 'ProximaNova_regular', sans-serif
    font-weight: normal
    display: flex
    justify-content: space-between

    span
      &:nth-child(1)
        flex: 1
        overflow-x: hidden
        white-space: nowrap
        text-overflow: ellipsis

      &:nth-child(2)
        font-family: 'ProximaNova_light', sans-serif
        font-size: 0.85em
        text-transform: uppercase
        text-align: right
        width: 7em

  p
    margin: 0

  button, .button
    margin: 0.25em 0

  .course_status
    font-family: 'ProximaNova_regular', sans-serif
    padding: 0.1em 0.5em
    display: flex
    justify-content: space-between

  .course_role
    margin-right: 10px
    @include text_ellipsis

  .overview
    & > div
      display: flex
      justify-content: space-between
      margin: 0.5em 0 0 0

    p
      font-family: 'KlinicSlab_medium', serif
      font-size: 1.25em

      span
        display: block
        font-family: 'ProximaNova_regular', sans-serif
        font-size: 0.65em
        line-height: 1em
        text-transform: uppercase
        margin-top: 0.25em

  .course_assignments
    & > div:first-of-type
      display: flex
      justify-content: space-between
      align-items: flex-end
      margin-top: 0.25em

    h4
      @include text_ellipsis
      flex: 1
      margin: 0 0 -2px 0

    legend
      font-size: 0.8em
      font-family: 'ProximaNova_regular', sans-serif
      text-transform: uppercase
      text-align: right
      width: 100px

      p
        margin: 0
        line-height: 1.25em
        position: relative
        padding-right: 1.2em

        &:after
          content: ''
          width: 0.5em
          height: 0.5em
          background-color: $blue
          border: 1px solid $blue
          display: block
          position: absolute
          right: 0
          top: 0.2em

        &:last-child
          &:after
            background-color: white
            border: 1px solid $blue_dark

    .assignment
      display: flex
      justify-content: space-between
      margin: 0.75em 0 0 0

      span
        display: block
        font-size: 0.8em

      & > div
        &:first-child
          margin-right: 1em

        &:last-child
          display: flex
          justify-content: space-between

      p, span
        overflow-x: hidden
        white-space: nowrap
        text-overflow: ellipsis

  .button_box
    position: absolute
    bottom: 0
    left: 0
    right: 0

  &.instructor,
  &.GSI
    .overview
      p
        width: 32%

    .course_assignments
      .assignment
        & > div
          &:first-child
            width: calc(100% - 6em)

          &:last-child
            width: 4.5em
            margin-top: 0.35em

            p
              background-color: $blue
              width: 30px
              height: 30px
              line-height: 30px
              text-align: center
              font-family: 'ProximaNova_regular', sans-serif
              border: 2px solid $blue

              &:last-child
                background-color: white
                border: 2px solid $blue_dark

  &.paid
    .course_status
      div
        font-size: 0.85em
        text-transform: uppercase
        font-family: 'ProximaNova_semibold', sans-serif
        line-height: 1.2em
        margin: 0 -9px 0 0

        p
          padding: 0 0.5em
          background-color: $teal_bright
          margin: 0.25em 0
          width: fit-content
          position: relative

          &:before
            content: ''
            width: 0
            height: 0
            border-top: 1.2em solid $teal_bright
            border-left: 0.8em solid transparent
            position: absolute
            top: 0
            left: -0.78em

    &.another_user_paid
      .course_status
        div
          p
            background-color: $green_lime
            &:before
              border-top-color: $green_lime

  &.another_user_created
    & > h4
      background-color: $blue-medium_2

  &.student
    .overview
      p
        width: 49%

    .course_assignments
      .assignment
        & > div
          &:first-child
            width: calc(100% - 7em)
          &:last-child
            width: 6em
            font-family: 'ProximaNova_semibold', sans-serif

            p
              font-size: 0.8em
              text-transform: uppercase
              width: 100%
              text-align: right
              padding-right: 1.5em
              position: relative

              &:after
                content: ''
                width: 12px
                height: 12px
                display: block
                position: absolute
                top: 0.35em
                right: 0
                border-radius: 50%

              &.planned
                &:after
                  background-color: $blue
              &.submitted
                &:after
                  width: 10px
                  height: 10px
                  background-color: white
                  border: 1px solid $blue_dark
              &.graded
                &:after
                  background-color: $teal_bright

  &.past,
  &.archived
    background-color: $grey_1
    border-color: $grey_2
    padding: 0

    & > h4
      background-color: transparent
      color: $blue_dark
      font-family: 'ProximaNova_semibold', sans-serif

    .course_status
      div
        p
          &.subscribed
            background: $grey_3
            color: white
            padding-right: 0.5em
            cursor: default

            &:before
              border-top-color: $grey_3

  &.archived
    padding: 0 0 4em 0

    &.hidden_from_students
      background-color: white
      border-width: 2px

    &.request_pending
      border-color: $blue_dark
      border-width: 2px

  &.empty
    min-height: 120px
    margin: 0
    background-color: transparent

.empty
  border: 2px dashed $grey_2
  text-align: center
  padding: 2em 0.5em
  margin: 1em 0

.filter_box
  margin: 1em 0

  // & > div
  //   display: inline

  input
    position: absolute
    opacity: 0
    z-index: -10

  label
    cursor: pointer
    display: inline-block
    background-color: white
    border: 2px solid $blue-medium_2
    color: $blue-medium_1
    padding: 1em 0.5em 0.85em 0.5em
    margin: 0 0.25em 0.5em 0
    text-transform: uppercase
    font-size: 0.9em
    line-height: 0
    font-family: 'ProximaNova_regular', sans-serif
    border-radius: $radius-small
    transition: all 0.2s

  input:checked + label
    background-color: $blue_dark
    color: white
    position: relative

    &:after
      content: ''
      position: absolute
      top: -6px
      right: -6px
      display: block
      width: 12px
      height: 12px
      background-color: $pink_1
      border-radius: 50%

.component_container
  position: absolute


// Admin-specific Items
#admin_new_activity
  margin-bottom: 1.5em
  @include tablet-portrait
    padding-bottom: 1.5em

  & > div
    margin-bottom: 0
    padding: 0.5em
    display: flex
    width: calc((100% - 180px) / 3)

    @include tablet-xl
      width: calc((100% - 180px) / 2)
    @include tablet-portrait
      width: 50%
    @include mobile
      width: 100%

    &:first-of-type
      display: block
      width: 180px

      @include tablet-portrait
        width: 100%

    &:last-of-type
      @include tablet-xl
        margin-left: 180px
        margin-top: -1em

      @include tablet-portrait
        margin: 0

  h2
    margin-top: 1.25em

  h3
    font-size: 2em
    letter-spacing: normal
    background-color: $blue
    border-radius: 50%
    margin: 0 0.5em 0 0
    width: 2em
    height: 2em
    line-height: 2em
    text-align: center
    flex: none

    &.app
      background-color: $teal_bright

    & + div
      margin: 1.5em 0 0 0

      p
        font-family: 'ProximaNova_regular', sans-serif
        text-transform: uppercase
        font-size: 0.8em
        letter-spacing: 1px
        margin: 0

        strong
          font-size: 1.25em
          display: inline-block
          width: 2em

        span
          display: block
          margin-left: 2.8em
          line-height: 1em

  h4
    margin-bottom: 0.5em
