%a.grade-form-collapsible.collapse-toggler.collapsed(href="#")
  %h3
    %i.fa.fa-chevron-circle-right.fa-fw
    %span Award {{vm.BadgeService.termFor("badges")}}

%section.badge-index-section.collapse.collapsed
  %div.badge-list
    %label.badge-award-container(for="{{vm.inputId(badge)}}"
      ng-repeat="badge in vm.BadgeService.badges"
      ng-class='{"unavailable":!vm.badgeIsActionable(badge), "awardable":vm.badgeIsAwardable(badge), "awarded":vm.badgeIsEarnedForGrade(badge)}'
      )
      
      .badge-award-checkmark
        %input(id="{{vm.inputId(badge)}}"
        ng-if="vm.badgeIsActionable(badge)"
        type="checkbox"
        ng-checked="vm.badgeIsEarnedForGrade(badge)"
        ng-click="vm.awardBadge(badge)")

      .img-cropper.small-crop
        %img(ng-src="{{badge.icon}}" alt="")

      %p.badge-award-name {{badge.name}}

  %div(ng-repeat="badge in vm.BadgeService.badges" ng-if="vm.badgeIsEarnedForGrade(badge)"){:style => "margin-top: 40px;"}
    %p(ng-if="vm.badgeIsEarnedForGrade(badge)")
      Feedback for {{badge.name}}       
    %textarea(ng-model="vm.BadgeService.earnedBadgesFeedback[badge.id]" ng-model-options="{debounce: 1000}" ng-change="vm.setBadgeFeedback(badge)" ng-if="vm.badgeIsEarnedForGrade(badge)" froala)

