%td
  %p
    Powered by the
    %a{:href => "https://ai.umich.edu/", :target => "_blank"}
      Office of Academic Innovation
  %p &copy; 2019 The Regents of the University of Michigan
  %p
    = render partial: "layouts/mailers/social_media"



%table.footer-wrap
  %tr
    %td
    %td.container
      / content
      .content
        %table
          %tr{:align => "center"}
            %td{:align => "center"}
      / /content
    %td
