%td
  = render partial: "layouts/mailers/social_media"
  %p
    Powered by the
    %a{:href => "https://ai.umich.edu/", :target => "_blank"}
      Office of Academic Innovation
  %p
    &copy; #{Date.today.year} The Regents of the University of Michigan
  %p
    %a{:href => "mailto:help@gradecraft.com"}
      help@gradecraft.com
