%tr
  %td
    %a{:href => "https://gradecraft.com", :target => "_blank"}
      = image_tag "/assets/images/GradeCraft_logo-new.png", class: "logo", alt: "Visit GradeCraft.com", width: "1813", height: "376" 
