%p
  %a{:href => "http://facebook.com/gradecraft", :class => "no_underline", :target => "_blank"}
    =image_tag "facebook500.png", alt: "GradeCraft on Facebook", width: "40", height: "40"
  %a{:href => "http://twitter.com/gradecraft", :class => "no_underline", :target => "_blank"}
    =image_tag "twitter.png", alt: "GradeCraft on Twitter", width: "40", height: "40"
  %a{:href => "http://www.youtube.com/playlist?list=PL8pE6w-B6iSUjSjK5cR0yaC1xxvQmLe5m", :class => "no_underline", :target => "_blank"}
    =image_tag "youtube.png", alt: "GradeCraft on YouTube", width: "40", height: "40"
