<style>
body {
  margin: 0;
  padding: 0;
  background: #f1f2f2;
}
table {
  max-width: 800px;
  margin: 0 auto 100px auto;
  font-size: 18px;
  line-height: 1.45em;
  color: #0e0e51;
}
thead {
  background: #ffffff;
}
tr.content {
  background: #ffffff;
}
tr.content td {
  display: block;
  width: 100%;
  font-family: 'Montserrat', Verdana, sans-serif;
  font-weight: 300;
}
tr.footer {
  text-align: center;
  font-size: 14px;
}
tr.footer td {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 3em 1em;
}
tr.footer p {
  margin: 0 auto;
}
tr.footer img {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 0.5em 2em 0.5em;
}
h1, h2 {
  font-family: 'Arvo', Georgia, serif;
  font-weight: normal;
  line-height: 1.2em;
  text-align: center;
}
h1 {
  font-size: 2em;
  margin: 1.5em 0.5em 1em 0.5em;
}
h2 {
  font-size: 1.25em;
}
p {
  margin: 1em auto;
  padding: 0 1em;
  max-width: 650px;
}
p strong {
  font-weight: 600;
}
a {
  color: #2e70be !important;
  text-decoration: none;
  border-bottom: 1px solid #2e70be;
}
a.no_underline {
  border-bottom: 0px solid transparent;
}
button {
  display: block;
  margin: 3em auto;
  padding: 0.6em 1em 0.8em 1em;
  cursor: pointer;
  box-sizing: border-box;
  background: #db2886;
  border: 2px solid #ba0c70;
  color: #ffffff;
  border-radius: 8px;
  font-family: 'Montserrat', Verdana, sans-serif;
  font-size: 1em;
  min-width: 130px;
}
button:hover {
  background: #ba0c70;
}
.logo {
  display: block;
  margin: 1em auto;
  width: 180px;
  height: auto;
}
.hero_img {
  background: #d9f4ff;
}
.hero_img img {
  display: block;
  width: 100%;
  height: auto;
}
td img.badge {
  display: block;
  margin: 0 auto 1em auto;
  width: 150px;
  height: auto;
}
td div {
  background-color: #d9f4ff;
  padding: 0.5em;
  margin: 0 auto;
  max-width: 650px;
}

@media screen and (max-width: 1000px) {
  table {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 400px) {
  body {
    font-size: 16px;
  }
}
</style>
