Hey there, #{ @student.first_name },

You’ve been added as a member of the #{ @group.name } Group in course #{ @course.name }. If this is incorrect, please let your instructor know.

Play on!
GradeCraft
