%h2{:align => "center"}
  %strong Hi #{ @user.first_name }!
%p Thanks for purchasing a GradeCraft subscription! We received your payment, and we're thrilled to have you aboard.
  Here are the details for your subscription:
