%td.hero_img
  = image_tag "email-hero_Sad.png", alt: "a yeti illustration is here!", width: "1200", height: "435"

%td
  %h1
    Hi, #{ @user.first_name }

  %p
    We have been unable to process your payment for the past ten days,
    and have deactivated your account. Don’t worry - all of your data is still
    there, and whenever you’re ready you can
    = link_to "log in to GradeCraft", subscriptions_url
    and update your account details so we can turn the lights back on!

    %p
      %strong Courses subscribed that we have now unpublished:
      %br
      - @courses.each do |course|
        %p= course.name

  %p
    Please don’t hesitate to reach out to us if you have any questions!
  %p
    Kindly,
    %br
    GradeCraft
