.wrapper.dashboard

  .content_block.intro
    %h1 My Dashboard
    .accordion.guide.active
      %h3.open
        %span
      %div
        %p
          Welcome back to your GradeCraft dashboard, {{Minverva}}!
          %br
          As your Guide, I’m here to help orient you in the many opportunities this tool offers. Look for my messages if you want some tips on how to use our features!

    %h2 Current Courses
    .course_box
      .course_card.instructor
        %h4
          %span HSWW 123 Long Course Title Goes in Here
          %span Wn 2018
        .course_status
          %p Instructor
          %div
            %p.licensed.view_modal.modal_multiple#licensed1 Licensed
        .overview.bg-blue_2
          %h4
            %a Grading Status
          %div
            %p.lining_figures
              64
              %span
                Ungraded
            %p.lining_figures
              29
              %span
                Ready for release
            %p.lining_figures
              33
              %span
                Resubmissions
        .course_assignments
          %h4 Upcoming Assignments
          %legend
            %p Planned
            %p Submitted
          .assignment
            %div
              %p
                %a Assignment Title 1
                %span Due: Mon OCT.22.2018, 5:00 PM EDT
            %div
              %p 22
              %p 15
          .assignment
            %div
              %p
                %a Assignment Title 2 is a very long title that does this
              %p
                %span Due: Mon OCT.22.2018, 5:00 PM EDT
            %div
              %p 4
              %p 4
          .assignment
            %div
              %p
                %a Assignment Title 3
                %span Due: Mon OCT.22.2018, 5:00 PM EDT
            %div
              %p 16
              %p 9
          .assignment
            %div
              %p
                %a Assignment Title 4
                %span Due: Mon OCT.22.2018, 5:00 PM EDT
            %div
              %p 20
              %p 20
          .assignment
            %div
              %p
                %a Assignment Title 5
                %span Due: Mon OCT.22.2018, 5:00 PM EDT
            %div
              %p 7
              %p 6
        %div
          %a{:class => "button next"} View course

      .course_card.instructor
        %h4
          %span HSWW 123 Course Title Here
        .course_status
          %p GSI
          %div
        .overview.bg-blue_2
          %h4
            %a Grading Status
          %div
            %p.lining_figures
              64
              %span
                Ungraded
            %p.lining_figures
              29
              %span
                Ready for release
            %p.lining_figures
              33
              %span
                Resubmissions
        .course_assignments
          %h4 Upcoming Assignments
          %legend
            %p Planned
            %p Submitted
          .assignment
            %div
              %p
                %a Assignment Title 1
                %span Due: Mon OCT.22.2018, 5:00 PM EDT
            %div
              %p 22
              %p 15
          .assignment
            %div
              %p
                %a Assignment Title 2
              %p
                %span Due: Mon OCT.22.2018, 5:00 PM EDT
            %div
              %p 4
              %p 4
          .assignment
            %div
              %p
                %a Assignment Title 3
                %span Due: Mon OCT.22.2018, 5:00 PM EDT
            %div
              %p 16
              %p 9
          .assignment
            %div
              %p
                %a Assignment Title 4
                %span Due: Mon OCT.22.2018, 5:00 PM EDT
            %div
              %p 20
              %p 20
          .assignment
            %div
              %p
                %a Assignment Title 5
                %span Due: Mon OCT.22.2018, 5:00 PM EDT
            %div
              %p 7
              %p 6
        %div
          %a{:class => "button next"} View course

      .course_card.student
        %h4
          %span HSWW 123 Course Title Here
        .course_status
          %p Student
          %div
        .overview.bg-blue_2
          %h4 Events &amp; Announcements
          %div
            %p.lining_figures
              7
              %span
                Events this week
            %p.lining_figures
              4
              %span
                Unread announcements
        .course_assignments
          %h4 Upcoming Assignments
          .assignment
            %div
              %p
                %a Assignment Title 1
                %span Due: Mon OCT.22.2018, 5:00 PM EDT
            %div
              %p.planned Planned
          .assignment
            %div
              %p
                %a Assignment Title 2
              %p
                %span Due: Mon OCT.22.2018, 5:00 PM EDT
            %div
          .assignment
            %div
              %p
                %a Assignment Title 3
                %span Due: Mon OCT.22.2018, 5:00 PM EDT
            %div
              %p.submitted Submitted
          .assignment
            %div
              %p
                %a Assignment Title 4
                %span Due: Mon OCT.22.2018, 5:00 PM EDT
            %div
              %p.graded Graded
          .assignment
            %div
              %p
                %a Assignment Title 5
                %span Due: Mon OCT.22.2018, 5:00 PM EDT
            %div
              %p.planned Planned
        %div
          %a{:class => "button next"} View course

      .course_card.instructor
        %h4
          %span HSWW 123 Course Title Here
        .course_status
          %p GSI
          %div
        .overview.bg-blue_2
          %h4
            %a Grading Status
          %div
            %p.lining_figures
              64
              %span
                Ungraded
            %p.lining_figures
              29
              %span
                Ready for release
            %p.lining_figures
              33
              %span
                Resubmissions
        .course_assignments
          %h4 Upcoming Assignments
          %legend
            %p Planned
            %p Submitted
          .assignment
            %div
              %p
                %a Assignment Title 1
                %span Due: Mon OCT.22.2018, 5:00 PM EDT
            %div
              %p 22
              %p 15
          .assignment
            %div
              %p
                %a Assignment Title 2
              %p
                %span Due: Mon OCT.22.2018, 5:00 PM EDT
            %div
              %p 4
              %p 4
          .assignment
            %div
              %p
                %a Assignment Title 3
                %span Due: Mon OCT.22.2018, 5:00 PM EDT
            %div
              %p 16
              %p 9
          .assignment
            %div
              %p
                %a Assignment Title 4
                %span Due: Mon OCT.22.2018, 5:00 PM EDT
            %div
              %p 20
              %p 20
          .assignment
            %div
              %p
                %a Assignment Title 5
                %span Due: Mon OCT.22.2018, 5:00 PM EDT
            %div
              %p 7
              %p 6
        %div
          %a{:class => "button next"} View course

    %h2 Unpublished Courses
    .course_box
      .course_card.instructor.unpublished
        %h4
          %span HSWW 123 Course Title Here
        .course_status
          %p Instructor
          %div
            %p Unpublished course
            %p.licensed.view_modal.modal_multiple#licensed2 Licensed
        %div
          %a{:class => "button next"} Edit course

      .course_card.empty
        %p
          %em You don‘t have any unpublished courses

    %h2 Past Courses
    .accordion.guide
      %h3
        %span
      %div
        %p
          These are all your
          %em published,
          inactive courses. You can request to copy them if you like how you’ve set them up in the past—just use the “request a copy” feature in the section below!

    .filter_box
      %p Select which filters you want to apply:
      %div
        %input{type: "checkbox", id: "year_2018" }
        %label{for: "year_2018"} 2018
        %input{type: "checkbox", id: "year_2017" }
        %label{for: "year_2017"} 2017
        %input{type: "checkbox", id: "year_2016" }
        %label{for: "year_2016"} 2016
        %input{type: "checkbox", id: "year_2015" }
        %label{for: "year_2015"} 2015
        %input{type: "checkbox", id: "year_2014" }
        %label{for: "year_2014"} 2014
        %input{type: "checkbox", id: "year_2013" }
        %label{for: "year_2013"} 2013
        %input{type: "checkbox", id: "year_2012" }
        %label{for: "year_2012"} 2012
        %input{type: "checkbox", id: "year_2011" }
        %label{for: "year_2011"} 2011
      %div
        %input{type: "checkbox", id: "semester_fall" }
        %label{for: "semester_fall"} fall
        %input{type: "checkbox", id: "semester_winter" }
        %label{for: "semester_winter"} winter
        %input{type: "checkbox", id: "semester_spring" }
        %label{for: "semester_spring"} spring
        %input{type: "checkbox", id: "semester_summer" }
        %label{for: "semester_summer"} summer

    .course_box
      .course_card.instructor.past
        %h4
          %span HSWW 123 Course Title Here
        .course_status
          %p Instructor
          %div
            %p.licensed Licensed
        %div
          %a{:class => "button next"} View course
      .course_card.instructor.past
        %h4
          %span HSWW 123 Course Title Here
          %span wn 2017
        .course_status
          %p Instructor
          %div
        %div
          %a{:class => "button next"} View course
      .course_card.instructor.past
        %h4
          %span HSWW 123 Course Title Here
          %span fa 2015
        .course_status
          %p GSI
          %div
        %div
          %a{:class => "button next"} View course
      .course_card.student.past
        %h4
          %span HSWW 123 Course Title Here
          %span wn 2017
        .course_status
          %p Student
          %div
        %div
          %a{:class => "button next"} View course
      .course_card.instructor.past
        %h4
          %span HSWW 123 Course Title Here
          %span su 2015
        .course_status
          %p Instructor
          %div
            %p.licensed Licensed
        %div
          %a{:class => "button next"} View course

  .content_block.bg-green_mint
    %h2 Add a New Course
    %p
      With your
      %b {{licensed}} account,
      you can explore all GradeCraft has to offer and create licensed courses. Licensed courses have the ability to:
    %ul
      %li Integrate with other tools (like Canvas or Moodle)
      %li Import or add other users (such as assistants and students)
    %p
      Your license allows you
      %b {{2 licensed courses}},
      active until {{May 14, 2019}}.
    %button{class: "action view_modal modal_multiple", id: "addCourse"} Add a course
    %h3 Copy an existing course
    %p If you like your setup from a previous course and would like to duplicate it instead of starting from scratch, we can also help you copy an existing course:
    %button{class: "action secondary view_modal modal_multiple", id: "requestCopy"} Request a copy

.overlay

.modal
  %h2.modal_heading.modal_multiple#requestCopy_heading
    Request a copy
    %span.close
  .modal_content.modal_multiple#requestCopy_content
    %h2 Request a copy of an existing course
    %p
      Which existing course would you like to copy?
    %form
      .form_options
        %input{type: "radio", id: "pastCourse_1", name: "pastCourses"}
        %label{for: "pastCourse_1"} HSWW 123 Course Title Here (Semester Year)
      .form_options
        %input{type: "radio", id: "pastCourse_2", name: "pastCourses"}
        %label{for: "pastCourse_2"} HSWW 123 Course Title Here (Semester Year)
      .form_options
        %input{type: "radio", id: "pastCourse_3", name: "pastCourses"}
        %label{for: "pastCourse_3"} HSWW 123 Course Title Here (Semester Year)
      .form_options
        %input{type: "radio", id: "pastCourse_4", name: "pastCourses"}
        %label{for: "pastCourse_4"} HSWW 123 Course Title Here (Semester Year)
      .form_options
        %input{type: "radio", id: "pastCourse_5", name: "pastCourses"}
        %label{for: "pastCourse_5"} HSWW 123 Course Title Here (Semester Year)
      %br
      %p
        %b Please note that your copy will be a trial course by default.
        You will need to add more licensed courses to your account in order to convert it to a licensed course.

      %p Are there any additional notes you would like us to know?
      .form_elem
        %textarea{placeholder: "Let us know!", id: "additional_notes"}
        %label{for: "additional_notes"} Additional notes
      %p You will receive an email confirmation of your request after submitting, and a GradeCraft support staff member will reach out to you within 24 hours, Monday&ndash;Friday, 9am&ndash;5pm EST.

      %button.action{type: "submit"} Submit request
      %button.secondary.close{type: "button"} Cancel

  %h2.modal_heading.modal_multiple#addCourse_heading
    Add a course
    %span.close
  .modal_content.modal_multiple#addCourse_content
    %h2 How do you want to add your course?
    %form
      .accordion
        %h3
          %span
          Create a new course
        %div
          %h4 Course Essentials
          %p Let‘s start with some essential course info:
          .flex-2
            .form_elem
              %input{type: "text", id: "course_number", required: "required", placeholder: "Your course number"}
              %label{for: "course_number"} Course #
            .form_elem
              %input{type: "text", id: "course_name", required: "required", placeholder: "Your course name"}
              %label{for: "course_name"} Course name
            .form_elem
              %input.calendar{type: "text", id: "course_start", placeholder: "Course start date"}
              %label{for: "course_start"} Start date
            .form_elem
              %input.calendar{type: "text", id: "course_end", placeholder: "Course end date"}
              %label{for: "course_end"} End date
            .form_elem
              %select{id: "course_semester"}
                %option{value: "", selected: "selected"} Semester
                %option{value: "Fall"} Fall
                %option{value: "Winter"} Winter
                %option{value: "Spring"} Spring
                %option{value: "Summer"} Summer
              %label{for: "course_semester"} Semester
            .form_elem
              %select{id: "course_year"}
                %option{value: "", selected: "selected"} Year
                %option{value: "year_2020"} 2020
                %option{value: "year_2019"} 2019
                %option{value: "year_2018"} 2018
                %option{value: "year_2017"} 2017
              %label{for: "course_year"} Year

          %h4 Will This be a Trial Course or a Licensed Course?
          .form_options
            %input{type: "radio", id: "trialCourse", name: "courseType"}
            %label{for: "trialCourse"} Trial course
          .form_options
            %input{type: "radio", id: "licensedCourse", name: "courseType"}
            %label{for: "licensedCourse"} Licensed course
          .form_options
            %input{type: "radio", id: "licensedCourse_disabled", name: "courseType", disabled: "disabled"}
            %label{for: "licensedCourse_disabled"} Licensed course

        %h3
          %span
          Convert a trial course {{No trial courses}}
        %div
          %p It looks like you don't have any trial courses available to convert. Try creating a new course!

        %h3
          %span
          Convert a trial course {{Yes trial courses}}
        %div
          %p It looks like you have some trial courses set up already. Which one do you want to convert into a licensed course?
          .form_options
            %input{type: "radio", id: "course_1", name: "convertCourse"}
            %label{for: "course_1"} HSWW 123 Course Title Here
          .form_options
            %input{type: "radio", id: "course_2", name: "convertCourse"}
            %label{for: "course_2"} HSWW 123 Course Title Here
          .form_options
            %input{type: "radio", id: "course_3", name: "convertCourse"}
            %label{for: "course_3"} HSWW 123 Course Title Here

        %h3.locked
          %span
          Convert a trial course

      %button.action{type: "button"} Add my course
      %button.secondary.close{type: "button"} Cancel

  %h2.modal_heading.modal_multiple#licensed1_heading
    Set course status
    %span.close
  .modal_content.modal_multiple#licensed1_content
    %h2 Set the status of {{HSWW 123 Long Course Title Goes in Here}} (Semester Year)
    %form
      .form_options
        %input{type: "radio", id: "trialCourse_1", name: "courseStatus_1"}
        %label{for: "trialCourse_1"} Trial course
      .form_options
        %input{type: "radio", id: "licensedCourse_1", name: "courseStatus_1", checked: "checked"}
        %label{for: "licensedCourse_1"} Licensed course
      %br
      %button.action{type: "button"} Update status
      %button.secondary.close{type: "button"} Cancel

  %h2.modal_heading.modal_multiple#licensed2_heading
    Set course status
    %span.close
  .modal_content.modal_multiple#licensed2_content
    %h2 Set the status of {{HSWW 123 Course Title Here}} (Semester Year)
    %form
      .form_options
        %input{type: "radio", id: "trialCourse_2", name: "courseStatus_2"}
        %label{for: "trialCourse_2"} Trial course
      .form_options
        %input{type: "radio", id: "licensedCourse_2", name: "courseStatus_2", checked: "checked"}
        %label{for: "licensedCourse_2"} Licensed course
      %br
      %button.action{type: "button"} Update status
      %button.secondary.close{type: "button"} Cancel
