<header-component data-component></header-component>

<div class='wrapper dashboard'>
  <guide-control data-component></guide-control>

  <div class='content_block intro'>
    <h1>My Dashboard</h1>

    <guide-message data-component>
        <p>Hello from the <i>Overview.html</i> slot</p>
    </guide-message>
  </div>

  <course-card-container data-component></course-card-container>

  <div class="content_block">
    <h2>How do you want to toggle the tab options?</h2>
    <div class="tab_container">
      <div class="tab_toggle">
        <input type="radio" name="toggle_group" checked="checked" value="1" id="tab_1" />
        <label for="tab_1">Tab Toggle 1</label>

        <input type="radio" name="toggle_group" value="2" id="tab_2" />
        <label for="tab_2">Tab Toggle 2</label>
        <input type="radio" name="toggle_group" value="3" id="tab_3" disabled="disabled" />
        <label for="tab_3">Tab Toggle 3</label>
      </div>
      <div class="tab_contents">
        <div class="active">
          <p>
            Toggle content 1
          </p>
        </div>
        <div>
          <p>
            Toggle content 2
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
