<header-component data-component></header-component>

<div class='wrapper dashboard'>
  <guide-control data-component></guide-control>

  <% if @user_role != "admin"%>
    <course-card-container data-component></course-card-container>
  <% else %>
    <admin-container data-component></admin-container>
  <% end %>
</div>
