<header-component data-component></header-component>

<div class='wrapper dashboard'>
  <guide-control data-component></guide-control>

  <% if @user_role != "admin"%>
    <course-card-container data-component></course-card-container>
  <% else %>
    <div class="content_block intro">
      <h1>My Dashboard</h1>

      <guide-message data-component>
        <p>Welcome back, Michael!</p>
        <p>As an Awesome Admin, you probably don’t need much guidance from me. Nevertheless, I’m here to help orient you, and you can see what I say to instructors and students. </p>
      </guide-message>

      <h2>New Activity</h2>
      <p>In the past 10 days: </p>
      <div class="flex-3">
        <div class="bg-blue_2">
          <h4>New User Accounts</h4>
          <p class="summary_data">
            <span class="lining_figures">36</span>
            free trial accounts
          </p>
          <p class="summary_data">
            <span class="lining_figures">2</span>
            licensed accounts
          </p>
        </div>
        <div class="bg-blue_2">
          <h4>User Licenses</h4>
          <p class="summary_data">
            <span class="lining_figures">4</span>
            new licenses
          </p>
          <p class="summary_data">
            <span class="lining_figures">5</span>
            renewed licenses
          </p>
        </div>
        <div class="bg-blue_2">
          <h4>New Courses</h4>
          <p class="summary_data column-2">
            <span class="lining_figures">16</span>
            total
          </p>
          <p class="summary_data column-2">
            <span class="lining_figures">306</span>
            free trial courses
          </p>
          <p class="summary_data column-2">
            <span class="lining_figures">5</span>
            copied
          </p>
          <p class="summary_data column-2">
            <span class="lining_figures">6</span>
            licensed courses
          </p>
        </div>
      </div>
    </div>
    <accordion-component data-component>
      <template slot="heading">New courses</template>
      <template slot="content">Some stuff in here</template>
    </accordion-component>
    <accordion-component data-component>
      <template slot="heading">License expiration</template>
      <template slot="content">Some stuff in here</template>
    </accordion-component>

    <div class="tab_block">
      <div class="tab_bar">
        <div>
          <input type="radio" id="tab_courses" name="tab_group" value="tab_courses" checked="checked" />
          <label for="tab_courses">Courses</label>
        </div>
        <div>
          <input type="radio" id="tab_instructor_accounts" name="tab_group" value="tab_instructor_accounts" />
          <label for="tab_instructor_accounts">Instructor Accounts</label>
        </div>
        <div>
          <input type="radio" id="tab_search_users" name="tab_group" value="tab_search_users" />
          <label for="tab_search_users">Search All Users</label>
        </div>
        <div>
          <input type="radio" id="tab_utilities" name="tab_group" value="tab_utilities" />
          <label for="tab_utilities">Utilities</label>
        </div>
      </div>
      <div class="tab_sections content_block">
        <div>
          <p>Manage and view all courses&mdash;active and inactive, published and unpublished. </p>
          <h2>All Courses </h2>
          <div class="filter_box">
            <p>Select which filters you want to apply: </p>
            <div>
              <span>
                <input id="published" type="checkbox" value="published" />
                <label for="published">Published</label>
              </span>
              <span>
                <input id="unpublished" type="checkbox" value="unpublished" />
                <label for="unpublished">Unpublished</label>
              </span>
              <span>
                <input id="active" type="checkbox" value="active" />
                <label for="active">Active</label>
              </span>
            </div>
            <div>
              <span>
                <input id="2018" type="checkbox" value="2018"/>
                <label for="2018">2018</label>
              </span>
              <span>
                <input id="2017" type="checkbox" value="2017"/>
                <label for="2017">2017</label>
              </span>
              <span>
                <input id="2016" type="checkbox" value="2016" />
                <label for="2016">2016</label>
              </span>
              <span>
                <input id="2015" type="checkbox" value="2015" />
                <label for="2015">2015</label>
              </span>
              <span>
                <input id="2014" type="checkbox" value="2014" />
                <label for="2014">2014</label>
              </span>
            </div>
            <div>
              <span>
                <input id="Fall" type="checkbox" value="Fall">
                <label for="Fall">Fall</label>
              </span>
              <span>
                <input id="Winter" type="checkbox" value="Winter">
                <label for="Winter">Winter</label>
              </span>
              <span>
                <input id="Spring" type="checkbox" value="Spring">
                <label for="Spring">Spring</label>
              </span>
              <span>
                <input id="Summer" type="checkbox" value="Summer">
                <label for="Summer">Summer</label>
              </span>
            </div>
          </div>

          <div class="table_container">
            <table class="has_actions">
              <thead>
                <tr>
                  <th>Course # </th>
                  <th>Course Name </th>
                  <th>Licensed </th>
                  <th>Active </th>
                  <th>Published </th>
                  <th>Instructor(s) </th>
                  <th># Students </th>
                  <th>Semester </th>
                  <th>Year </th>
                  <th>Actions </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="#">0123</a> </td>
                  <td><a href="#">Course name</a> </td>
                  <td><span class="checked"></span> </td>
                  <td><span class="checked"></span> </td>
                  <td><span class="checked"></span> </td>
                  <td><a href="#">Instructor name</a> </td>
                  <td>10,000 </td>
                  <td>Fall </td>
                  <td>2018 </td>
                  <td>
                    <div class="button-container">
                      <button type="button" class="secondary">Download</button>
                      <button type="button" class="secondary">Options</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><a href="#">0123</a> </td>
                  <td><a href="#">Course name</a> </td>
                  <td><span class="checked"></span> </td>
                  <td><span class="checked"></span> </td>
                  <td><span class="checked"></span> </td>
                  <td><a href="#">Instructor name</a> </td>
                  <td>10,000 </td>
                  <td>Fall </td>
                  <td>2018 </td>
                  <td>
                    <div class="button-container">
                      <button type="button" class="secondary">Download</button>
                      <button type="button" class="secondary">Options</button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><a href="#">0123</a> </td>
                  <td><a href="#">Course name</a> </td>
                  <td> </td>
                  <td> </td>
                  <td><span class="checked"></span> </td>
                  <td><a href="#">Instructor name</a> </td>
                  <td>10,000 </td>
                  <td>Fall </td>
                  <td>2018 </td>
                  <td>
                    <div class="button-container">
                      <button type="button" class="secondary">Download</button>
                      <button type="button" class="secondary">Options</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <button type="button" class="action">Export this table view</button>
        </div>
      </div>
    </div>
  <% end %>
</div>
