<div class='wrapper dashboard'>
  <div class='content_block intro'>
    <h1>My Dashboard</h1>
    <div data-component="index">
      <p>Hi dummy</p>
    </div>

    <div data-component="guide">
      <p>
        Hi Erik!
      </p>
    </div>


    <h2>Current Courses</h2>
    <div class='course_box'>
      <div data-component="courseCard">
      </div>

      <div class='course_card instructor'>
        <h4>
          <span>HSWW 123 Long Course Title Goes in Here</span>
          <span>Wn 2018</span>
        </h4>
        <div class='course_status'>
          <p>Instructor</p>
          <div>
            <p class='licensed view_modal modal_multiple' id='licensed1'>Licensed</p>
          </div>
        </div>
        <div class='overview bg-blue_2'>
          <h4>
            <a>Grading Status</a>
          </h4>
          <div>
            <p class='lining_figures'>
              64
              <span>
                Ungraded
              </span>
            </p>
            <p class='lining_figures'>
              29
              <span>
                Ready for release
              </span>
            </p>
            <p class='lining_figures'>
              33
              <span>
                Resubmissions
              </span>
            </p>
          </div>
        </div>
        <div class='course_assignments'>
          <h4>Upcoming Assignments</h4>
          <legend>
            <p>Planned</p>
            <p>Submitted</p>
          </legend>
          <div class='assignment'>
            <div>
              <p>
                <a>Assignment Title 1</a>
                <span>Due: Mon OCT.22.2018, 5:00 PM EDT</span>
              </p>
            </div>
            <div>
              <p>22</p>
              <p>15</p>
            </div>
          </div>
          <div class='assignment'>
            <div>
              <p>
                <a>Assignment Title 2 is a very long title that does this</a>
              </p>
              <p>
                <span>Due: Mon OCT.22.2018, 5:00 PM EDT</span>
              </p>
            </div>
            <div>
              <p>4</p>
              <p>4</p>
            </div>
          </div>
          <div class='assignment'>
            <div>
              <p>
                <a>Assignment Title 3</a>
                <span>Due: Mon OCT.22.2018, 5:00 PM EDT</span>
              </p>
            </div>
            <div>
              <p>16</p>
              <p>9</p>
            </div>
          </div>
          <div class='assignment'>
            <div>
              <p>
                <a>Assignment Title 4</a>
                <span>Due: Mon OCT.22.2018, 5:00 PM EDT</span>
              </p>
            </div>
            <div>
              <p>20</p>
              <p>20</p>
            </div>
          </div>
          <div class='assignment'>
            <div>
              <p>
                <a>Assignment Title 5</a>
                <span>Due: Mon OCT.22.2018, 5:00 PM EDT</span>
              </p>
            </div>
            <div>
              <p>7</p>
              <p>6</p>
            </div>
          </div>
        </div>
        <div>
          <a class='button next'>View course</a>
        </div>
      </div>
      <div class='course_card instructor'>
        <h4>
          <span>HSWW 123 Course Title Here</span>
        </h4>
        <div class='course_status'>
          <p>GSI</p>
          <div></div>
        </div>
        <div class='overview bg-blue_2'>
          <h4>
            <a>Grading Status</a>
          </h4>
          <div>
            <p class='lining_figures'>
              64
              <span>
                Ungraded
              </span>
            </p>
            <p class='lining_figures'>
              29
              <span>
                Ready for release
              </span>
            </p>
            <p class='lining_figures'>
              33
              <span>
                Resubmissions
              </span>
            </p>
          </div>
        </div>
        <div class='course_assignments'>
          <h4>Upcoming Assignments</h4>
          <legend>
            <p>Planned</p>
            <p>Submitted</p>
          </legend>
          <div class='assignment'>
            <div>
              <p>
                <a>Assignment Title 1</a>
                <span>Due: Mon OCT.22.2018, 5:00 PM EDT</span>
              </p>
            </div>
            <div>
              <p>22</p>
              <p>15</p>
            </div>
          </div>
          <div class='assignment'>
            <div>
              <p>
                <a>Assignment Title 2</a>
              </p>
              <p>
                <span>Due: Mon OCT.22.2018, 5:00 PM EDT</span>
              </p>
            </div>
            <div>
              <p>4</p>
              <p>4</p>
            </div>
          </div>
          <div class='assignment'>
            <div>
              <p>
                <a>Assignment Title 3</a>
                <span>Due: Mon OCT.22.2018, 5:00 PM EDT</span>
              </p>
            </div>
            <div>
              <p>16</p>
              <p>9</p>
            </div>
          </div>
          <div class='assignment'>
            <div>
              <p>
                <a>Assignment Title 4</a>
                <span>Due: Mon OCT.22.2018, 5:00 PM EDT</span>
              </p>
            </div>
            <div>
              <p>20</p>
              <p>20</p>
            </div>
          </div>
          <div class='assignment'>
            <div>
              <p>
                <a>Assignment Title 5</a>
                <span>Due: Mon OCT.22.2018, 5:00 PM EDT</span>
              </p>
            </div>
            <div>
              <p>7</p>
              <p>6</p>
            </div>
          </div>
        </div>
        <div>
          <a class='button next'>View course</a>
        </div>
      </div>
      <div class='course_card student'>
        <h4>
          <span>HSWW 123 Course Title Here</span>
        </h4>
        <div class='course_status'>
          <p>Student</p>
          <div></div>
        </div>
        <div class='overview bg-blue_2'>
          <h4>Events &amp; Announcements</h4>
          <div>
            <p class='lining_figures'>
              7
              <span>
                Events this week
              </span>
            </p>
            <p class='lining_figures'>
              4
              <span>
                Unread announcements
              </span>
            </p>
          </div>
        </div>
        <div class='course_assignments'>
          <h4>Upcoming Assignments</h4>
          <div class='assignment'>
            <div>
              <p>
                <a>Assignment Title 1</a>
                <span>Due: Mon OCT.22.2018, 5:00 PM EDT</span>
              </p>
            </div>
            <div>
              <p class='planned'>Planned</p>
            </div>
          </div>
          <div class='assignment'>
            <div>
              <p>
                <a>Assignment Title 2</a>
              </p>
              <p>
                <span>Due: Mon OCT.22.2018, 5:00 PM EDT</span>
              </p>
            </div>
            <div></div>
          </div>
          <div class='assignment'>
            <div>
              <p>
                <a>Assignment Title 3</a>
                <span>Due: Mon OCT.22.2018, 5:00 PM EDT</span>
              </p>
            </div>
            <div>
              <p class='submitted'>Submitted</p>
            </div>
          </div>
          <div class='assignment'>
            <div>
              <p>
                <a>Assignment Title 4</a>
                <span>Due: Mon OCT.22.2018, 5:00 PM EDT</span>
              </p>
            </div>
            <div>
              <p class='graded'>Graded</p>
            </div>
          </div>
          <div class='assignment'>
            <div>
              <p>
                <a>Assignment Title 5</a>
                <span>Due: Mon OCT.22.2018, 5:00 PM EDT</span>
              </p>
            </div>
            <div>
              <p class='planned'>Planned</p>
            </div>
          </div>
        </div>
        <div>
          <a class='button next'>View course</a>
        </div>
      </div>
      <div class='course_card instructor'>
        <h4>
          <span>HSWW 123 Course Title Here</span>
        </h4>
        <div class='course_status'>
          <p>GSI</p>
          <div></div>
        </div>
        <div class='overview bg-blue_2'>
          <h4>
            <a>Grading Status</a>
          </h4>
          <div>
            <p class='lining_figures'>
              64
              <span>
                Ungraded
              </span>
            </p>
            <p class='lining_figures'>
              29
              <span>
                Ready for release
              </span>
            </p>
            <p class='lining_figures'>
              33
              <span>
                Resubmissions
              </span>
            </p>
          </div>
        </div>
        <div class='course_assignments'>
          <h4>Upcoming Assignments</h4>
          <legend>
            <p>Planned</p>
            <p>Submitted</p>
          </legend>
          <div class='assignment'>
            <div>
              <p>
                <a>Assignment Title 1</a>
                <span>Due: Mon OCT.22.2018, 5:00 PM EDT</span>
              </p>
            </div>
            <div>
              <p>22</p>
              <p>15</p>
            </div>
          </div>
          <div class='assignment'>
            <div>
              <p>
                <a>Assignment Title 2</a>
              </p>
              <p>
                <span>Due: Mon OCT.22.2018, 5:00 PM EDT</span>
              </p>
            </div>
            <div>
              <p>4</p>
              <p>4</p>
            </div>
          </div>
          <div class='assignment'>
            <div>
              <p>
                <a>Assignment Title 3</a>
                <span>Due: Mon OCT.22.2018, 5:00 PM EDT</span>
              </p>
            </div>
            <div>
              <p>16</p>
              <p>9</p>
            </div>
          </div>
          <div class='assignment'>
            <div>
              <p>
                <a>Assignment Title 4</a>
                <span>Due: Mon OCT.22.2018, 5:00 PM EDT</span>
              </p>
            </div>
            <div>
              <p>20</p>
              <p>20</p>
            </div>
          </div>
          <div class='assignment'>
            <div>
              <p>
                <a>Assignment Title 5</a>
                <span>Due: Mon OCT.22.2018, 5:00 PM EDT</span>
              </p>
            </div>
            <div>
              <p>7</p>
              <p>6</p>
            </div>
          </div>
        </div>
        <div>
          <a class='button next'>View course</a>
        </div>
      </div>
    </div>
    <h2>Unpublished Courses</h2>
    <div class='course_box'>
      <div class='course_card instructor unpublished'>
        <h4>
          <span>HSWW 123 Course Title Here</span>
        </h4>
        <div class='course_status'>
          <p>Instructor</p>
          <div>
            <p>Unpublished course</p>
            <p class='licensed view_modal modal_multiple' id='licensed2'>Licensed</p>
          </div>
        </div>
        <div>
          <a class='button next'>Edit course</a>
        </div>
      </div>
      <div class='course_card empty'>
        <p>
          <em>You don‘t have any unpublished courses</em>
        </p>
      </div>
    </div>
    <h2>Past Courses</h2>
    <div class='accordion guide'>
      <h3>
        <span></span>
      </h3>
      <div>
        <p>
          These are all your
          <em>published,</em>
          inactive courses. You can request to copy them if you like how you’ve set them up in the past—just use the “request a copy” feature in the section below!
        </p>
      </div>
    </div>
    <div class='filter_box'>
      <p>Select which filters you want to apply:</p>
      <div>
        <input>
        <label>2018</label>
        <input>
        <label>2017</label>
        <input>
        <label>2016</label>
        <input>
        <label>2015</label>
        <input>
        <label>2014</label>
        <input>
        <label>2013</label>
        <input>
        <label>2012</label>
        <input>
        <label>2011</label>
      </div>
      <div>
        <input>
        <label>fall</label>
        <input>
        <label>winter</label>
        <input>
        <label>spring</label>
        <input>
        <label>summer</label>
      </div>
    </div>
    <div class='course_box'>
      <div class='course_card instructor past'>
        <h4>
          <span>HSWW 123 Course Title Here</span>
        </h4>
        <div class='course_status'>
          <p>Instructor</p>
          <div>
            <p class='licensed'>Licensed</p>
          </div>
        </div>
        <div>
          <a class='button next'>View course</a>
        </div>
      </div>
      <div class='course_card instructor past'>
        <h4>
          <span>HSWW 123 Course Title Here</span>
          <span>wn 2017</span>
        </h4>
        <div class='course_status'>
          <p>Instructor</p>
          <div></div>
        </div>
        <div>
          <a class='button next'>View course</a>
        </div>
      </div>
      <div class='course_card instructor past'>
        <h4>
          <span>HSWW 123 Course Title Here</span>
          <span>fa 2015</span>
        </h4>
        <div class='course_status'>
          <p>GSI</p>
          <div></div>
        </div>
        <div>
          <a class='button next'>View course</a>
        </div>
      </div>
      <div class='course_card student past'>
        <h4>
          <span>HSWW 123 Course Title Here</span>
          <span>wn 2017</span>
        </h4>
        <div class='course_status'>
          <p>Student</p>
          <div></div>
        </div>
        <div>
          <a class='button next'>View course</a>
        </div>
      </div>
      <div class='course_card instructor past'>
        <h4>
          <span>HSWW 123 Course Title Here</span>
          <span>su 2015</span>
        </h4>
        <div class='course_status'>
          <p>Instructor</p>
          <div>
            <p class='licensed'>Licensed</p>
          </div>
        </div>
        <div>
          <a class='button next'>View course</a>
        </div>
      </div>
    </div>
  </div>
  <div class='content_block bg-green_mint'>
    <h2>Add a New Course</h2>
    <p>
      With your
      <b>{{licensed}} account,</b>
      you can explore all GradeCraft has to offer and create licensed courses. Licensed courses have the ability to:
    </p>
    <ul>
      <li>Integrate with other tools (like Canvas or Moodle)</li>
      <li>Import or add other users (such as assistants and students)</li>
    </ul>
    <p>
      Your license allows you
      <b>{{2 licensed courses}},</b>
      active until {{May 14, 2019}}.
    </p>
    <button>Add a course</button>
    <h3>Copy an existing course</h3>
    <p>If you like your setup from a previous course and would like to duplicate it instead of starting from scratch, we can also help you copy an existing course:</p>
    <button>Request a copy</button>
  </div>
</div>
<div class='overlay'></div>
<div class='modal'>
  <h2 class='modal_heading modal_multiple' id='requestCopy_heading'>
    Request a copy
    <span class='close'></span>
  </h2>
  <div class='modal_content modal_multiple' id='requestCopy_content'>
    <h2>Request a copy of an existing course</h2>
    <p>
      Which existing course would you like to copy?
    </p>
    <form>
      <div class='form_options'>
        <input>
        <label>HSWW 123 Course Title Here (Semester Year)</label>
      </div>
      <div class='form_options'>
        <input>
        <label>HSWW 123 Course Title Here (Semester Year)</label>
      </div>
      <div class='form_options'>
        <input>
        <label>HSWW 123 Course Title Here (Semester Year)</label>
      </div>
      <div class='form_options'>
        <input>
        <label>HSWW 123 Course Title Here (Semester Year)</label>
      </div>
      <div class='form_options'>
        <input>
        <label>HSWW 123 Course Title Here (Semester Year)</label>
      </div>
      <br>
      <p>
        <b>Please note that your copy will be a trial course by default.</b>
        You will need to add more licensed courses to your account in order to convert it to a licensed course.
      </p>
      <p>Are there any additional notes you would like us to know?</p>
      <div class='form_elem'>
        <textarea></textarea>
        <label>Additional notes</label>
      </div>
      <p>You will receive an email confirmation of your request after submitting, and a GradeCraft support staff member will reach out to you within 24 hours, Monday&ndash;Friday, 9am&ndash;5pm EST.</p>
      <button class='action'>Submit request</button>
      <button class='secondary close'>Cancel</button>
    </form>
  </div>
  <h2 class='modal_heading modal_multiple' id='addCourse_heading'>
    Add a course
    <span class='close'></span>
  </h2>
  <div class='modal_content modal_multiple' id='addCourse_content'>
    <h2>How do you want to add your course?</h2>
    <form>
      <div class='accordion'>
        <h3>
          <span></span>
          Create a new course
        </h3>
        <div>
          <h4>Course Essentials</h4>
          <p>Let‘s start with some essential course info:</p>
          <div class='flex-2'>
            <div class='form_elem'>
              <input>
              <label>Course #</label>
            </div>
            <div class='form_elem'>
              <input>
              <label>Course name</label>
            </div>
            <div class='form_elem'>
              <input class='calendar'>
              <label>Start date</label>
            </div>
            <div class='form_elem'>
              <input class='calendar'>
              <label>End date</label>
            </div>
            <div class='form_elem'>
              <select>
                <option>Semester</option>
                <option>Fall</option>
                <option>Winter</option>
                <option>Spring</option>
                <option>Summer</option>
              </select>
              <label>Semester</label>
            </div>
            <div class='form_elem'>
              <select>
                <option>Year</option>
                <option>2020</option>
                <option>2019</option>
                <option>2018</option>
                <option>2017</option>
              </select>
              <label>Year</label>
            </div>
          </div>
          <h4>Will This be a Trial Course or a Licensed Course?</h4>
          <div class='form_options'>
            <input>
            <label>Trial course</label>
          </div>
          <div class='form_options'>
            <input>
            <label>Licensed course</label>
          </div>
          <div class='form_options'>
            <input>
            <label>Licensed course</label>
          </div>
        </div>
        <h3>
          <span></span>
          Convert a trial course {{No trial courses}}
        </h3>
        <div>
          <p>It looks like you don't have any trial courses available to convert. Try creating a new course!</p>
        </div>
        <h3>
          <span></span>
          Convert a trial course {{Yes trial courses}}
        </h3>
        <div>
          <p>It looks like you have some trial courses set up already. Which one do you want to convert into a licensed course?</p>
          <div class='form_options'>
            <input>
            <label>HSWW 123 Course Title Here</label>
          </div>
          <div class='form_options'>
            <input>
            <label>HSWW 123 Course Title Here</label>
          </div>
          <div class='form_options'>
            <input>
            <label>HSWW 123 Course Title Here</label>
          </div>
        </div>
        <h3 class='locked'>
          <span></span>
          Convert a trial course
        </h3>
      </div>
      <button class='action'>Add my course</button>
      <button class='secondary close'>Cancel</button>
    </form>
  </div>
  <h2 class='modal_heading modal_multiple' id='licensed1_heading'>
    Set course status
    <span class='close'></span>
  </h2>
  <div class='modal_content modal_multiple' id='licensed1_content'>
    <h2>Set the status of {{HSWW 123 Long Course Title Goes in Here}} (Semester Year)</h2>
    <form>
      <div class='form_options'>
        <input>
        <label>Trial course</label>
      </div>
      <div class='form_options'>
        <input>
        <label>Licensed course</label>
      </div>
      <br>
      <button class='action'>Update status</button>
      <button class='secondary close'>Cancel</button>
    </form>
  </div>
  <h2 class='modal_heading modal_multiple' id='licensed2_heading'>
    Set course status
    <span class='close'></span>
  </h2>
  <div class='modal_content modal_multiple' id='licensed2_content'>
    <h2>Set the status of {{HSWW 123 Course Title Here}} (Semester Year)</h2>
    <form>
      <div class='form_options'>
        <input>
        <label>Trial course</label>
      </div>
      <div class='form_options'>
        <input>
        <label>Licensed course</label>
      </div>
      <br>
      <button class='action'>Update status</button>
      <button class='secondary close'>Cancel</button>
    </form>
  </div>
</div>

<script>

</script>
