%h2 We could not find an account for you in Gradecraft.
%p
  %b
    If you're a student,
  ask your instructor to add you to their GradeCraft course.
%p
  %b
    If you’re an instructor,
  email
  = link_to "help@gradecraft.com", "mailto:help@gradecraft.com"
  and we’ll help you create a GradeCraft course.
%p
  %a{href: "#{root_url}", class: "button"} Take me back to where I was!
