%h2 You currently do not have a GradeCraft course associated with your email.
%p
  %b
    If you're a student,
  ask your instructor to add you to their GradeCraft course.
%p
  %b
    If you’re an instructor,
  email
  = link_to "help@gradecraft.com", "mailto:help@gradecraft.com"
  and we’ll help you create a GradeCraft course.
%p
  = link_to "Log out", logout_url, :class => "button"
