<div class='wrapper dashboard'>
  <% if !(Rails.env.production?) %>
    <div class="content_block intro">
      <h1>My Subscription</h1>
      <p>
        With a GradeCraft subscription, you only pay for what you want&mdash;only the courses you want to publish and the number of months you want to run the course.
      </p>
      <p>
        A paid subscription allows you to:
      </p>
      <ul class="pink_dots">
        <li>
          <b>Integrate your course with other tools</b> (like Canvas or Moodle)
        </li>
        <li>
          <b>Publish your course,</b> making it visible to your students, auditors, and observers
        </li>
      </ul>
    </div>
    <subscriptions-dash data-component stripe-pk=<%= @stripePk %> ></subscriptions-dash>
  <% end %>
</div>
