.form-wrapper
  = render partial: "courses/custom_terms", locals: { f: f }
  = render partial: "courses/email_settings", locals: {f: f }
  = render partial: "courses/player_settings", locals: { f: f }
  = render partial: "courses/assignment_settings", locals: { f: f }
