@import "../utilities/variables"
@import "../utilities/mixins"

.alert-box
  padding: 0.5em 1em 0.5em 0.5em
  background-color: $blue
  margin-bottom: 1.5em
  position: relative
  font-family: 'ProximaNova_regular', sans-serif

  a.close
    color: $blue_dark
    position: absolute
    top: 0
    right: 0
    padding: 0.25em
    font-size: 1.5em
    border-bottom-color: transparent

  &.alert
    background-color: $pink_1
    color: white

    a.close
      color: white

  &.error
    background-color: crimson
    color: white

    a.close
      color: white

  &.success
    background-color: $green_lime

  ul
    margin-bottom: 0

.public .alert-box
  position: relative
  margin:  3.5rem 1rem 0 1rem !important

.ui-tabs-panel:not(.last-active-tab) .alert-box
  display: none


/* New inline alert messages __=^o.o^= */
.inline_alert_msg
  background-color: $coral_1
  border-right: 3px solid $pink_2
  padding: 0.25em 1em 0.25em 5%
  box-sizing: border-box
  max-width: 800px
  margin: 1.5em 0 1.5em calc(-5% - 8px)
  @include mobile-xl
    padding-left: 3%
    margin-left: calc(-3% - 8px)

  h2
    margin-top: 0

  p
    font-family: 'ProximaNova_regular', sans-serif
    margin: 0.5em 0

// Inline alert message styling when used inside modals
.modal_content
  .inline_alert_msg
    margin-top: 1em
    margin-bottom: 1em
    margin-left: -1.5em
    padding-left: 1.5em
    max-width: calc(800px + 1.5em)
