@import "../utilities/variables"
@import "../utilities/mixins"

/* Add the sprite to the assignment expand */
.collapse
  margin: 0

.collapse-toggler .fa-chevron-circle-right
  padding-right: 0
  transition: all 0.25s
  transform: rotate(90deg)

.collapse-toggler.collapsed .fa-chevron-circle-right
  transform: rotate(0deg)

.collapse .fa-chevron-circle-right
  padding-right: 0
  transition: all 0.25s
  transform: rotate(0deg)

.collapse.open .fa-chevron-circle-right
  transform: rotate(90deg)


/* ACCORDIONS - New; maybe we'll use this throughout?  */
.accordion
  background-color: white

  h3
    position: relative
    color: $blue-medium_1
    border-bottom: 2px solid $blue-medium_2
    cursor: pointer
    padding: 1em 5% 1em calc(5% + 2em)
    margin: 0
    transition: all 0.3s

    span
      position: absolute
      left: 5%
      top: 1em
      background: url('/images/icon-arrow_next.svg') no-repeat center center
      background-size: contain
      width: 1.25em
      height: 1.25em
      display: block
      transform: rotate(90deg)
      transition: all 0.3s

      @media (max-width: $media-650)
        left: 3%

    &.open
      color: $pink_1
      border-color: transparent

      span
        background: url('/images/icon-arrow_next_action.svg') no-repeat center center
        background-size: contain
        transform: rotate(-90deg)

    &.locked
      cursor: not-allowed
      color: $grey_3

      span
        background: url('/images/icon-lock_locked.svg') no-repeat center center
        background-size: contain
        transform: none
        width: 1.6em
        height: 1.6em

    @media (max-width: $media-650)
      padding: 1em 3% 1em calc(3% + 2em)

  & > div
    display: none
    padding: 1em 5%

    @media (max-width: $media-650)
      padding: 1em 3%

  /* The Guide */
  &.guide
    max-width: 800px

    h3
      background: url(asset_path("icon-guide.svg")) no-repeat center left
      background-size: auto 2em
      border-bottom: 0px solid transparent
      position: relative
      z-index: 10

      span
        background: white url(asset_path("icon-arrow_next_action.svg")) no-repeat center center
        background-size: contain
        transform: rotate(90deg)
        top: 0.3em
        left: auto
        right: -0.7em
        border: 2px solid $pink_2
        border-radius: 50%
        z-index: 10

      &:after
        content: ''
        display: block
        position: absolute
        height: 3px
        left: 1.75em
        right: 0
        background-color: $blue_dark

      &.open
        span
          background: white url(asset_path("icon-arrow_next_action.svg")) no-repeat center center
          background-size: contain
          transform: rotate(-90deg)

    p
      margin: 0

    em, i
      font-family: 'ProximaNova_regular-italic', sans-serif

    & > div
      background-color: $blue-medium_2
      border-radius: 0 0 $radius-large $radius-large
      padding: 1em
      margin: 0 0 0 2.5em
      box-sizing: border-box
      transform: translate(0, -1em)
      color: white
      font-family: 'ProximaNova_regular', sans-serif
