@import "../utilities/variables"
@import "../utilities/mixins"


#ui-datepicker-div.ui-datepicker
 z-index: 100 !important

// Override for important z-index; need to phase out this Important BS
.new_style
  #ui-datepicker-div.ui-datepicker
    z-index: 120 !important


// Old timepicker styling (may need to refactor?)
.ui-tpicker-grid-label
  background: none
  border: none
  margin: 0
  padding: 0
.ui-timepicker-rtl
  direction: rtl

  dl
    text-align: right
    padding: 0 5px 0 0

  dl dt
    float: right; clear: right

  dl dd
    margin: 0 40% 10px 10px


/* New datepicker __=^o.o^= */
.ui-datepicker
  background-color: $bg-blue_2
  padding: 0
  margin-top: 20px

  &.ui-widget-content
    border: 2px solid $blue_dark

  &:before
    content: ''
    display: block
    position: absolute
    top: 0
    left: 30px
    transform: translateY(-100%)
    width: 0
    height: 0
    border-left: 12px solid transparent
    border-right: 12px solid transparent
    border-bottom: 10px solid $blue_dark

  table
    margin: 0

  tr
    border-bottom: none

  td
    padding: 0

    a
      &.ui-state-default
        background: white
        color: $blue-medium_1
        padding: 10px
        text-align: center
        border: 0px solid white
      &.ui-state-highlight
        background: $bg-blue_2

      &.ui-state-hover
        background: $blue
        color: white

      &.ui-state-active
        background: $blue_dark
        color: white

  .ui-datepicker-buttonpane
    margin: 0
    display: flex
    justify-content: space-between

    button
      padding: 0.6em 1em
      opacity: 1
      float: none !important
      width: 49%

      &:first-child
        background: white
        color: $blue-medium_1
        border: 2px solid $blue-medium_2

        &:hover
          color: $blue_dark

      &:last-child
        background: $pink_1
        color: white
        border: 2px solid $pink_2

        &:hover
          background: $pink_2

  select.ui-timepicker-select
    background: $blue-medium_1
    color: white
    border: 2px solid $blue-medium_2
    width: 100%
    min-width: unset
    display: inline-block

    &:hover
      background: $blue-medium_2

.ui-datepicker-header
  background: $blue_dark
  color: white
  font-family: 'KlinicSlab_medium', serif
  font-size: 1em
  letter-spacing: 0.05em

  .ui-state-hover, .ui-state-focus
    background: $blue_dark !important
    border: 1px solid $blue_dark !important

  .ui-datepicker-next-hover
    right: 0

  .ui-datepicker-prev-hover
    left: 0

  a
    border-bottom: 0px solid transparent

  .ui-datepicker-prev, .ui-datepicker-next
    .ui-icon
      background-image: url(asset_path("icon-arrow_next.svg"))
      background-position: center center
      background-size: contain
      width: 1em
      height: 1em

  .ui-datepicker-prev
    transform: rotate(180deg)

.ui-timepicker-div
  padding: 0.5em 0

  .ui_tpicker_time, dt
    display: none
  .ui_tpicker_unit_hide, .ui_tpicker_unit_hide:before
    display: none

  dl
    display: flex
    justify-content: space-between
    margin: 0 0.5em

  .ui_tpicker_hour, .ui_tpicker_minute
    margin: 0
    width: 49%
