@import "../utilities/variables"
@import "../utilities/mixins"

table
  clear: both
  border-spacing: 0
  font-size: 1em
  text-align: left
  width: 100%
  background-color: white
  border-collapse: collapse

  td
    padding: 0.4em

    &.center
        text-align: center !important
    .button-container.dropdown
        text-align: right
    ul.marker-type-none
      list-style-type: none
      padding: 0
      display: inherit

thead
  background-color: $blue-medium_2
  color: white
  font-size: 0.85em
  hyphens: none

  th
    padding: 0.4em

    // a,
    // a.active,
    // a.sorted
    a
      color: white
      font-family: 'ProximaNova_regular', sans-serif

      &:hover
        color: white

      span
        font-size: 0.5em
        margin-left: 2em

    span[tabindex="0"]
      color: white

    /* table last column "options" _=^o.o^= */
    &.options
      width: 4em

    &.has_button
      min-width: 150px

tbody
  tr
    &:nth-child(even)
      background-color: $grey-faint

    &:hover
      background-color: $bg-blue

  td
    vertical-align: initial

.scroll-table
  overflow: hidden
  position: relative
  width: 100%
  &:after
    position: absolute
    top: 0
    left: 100%
    width: 50px
    height: 100%
    border-radius: 10px 0 0 10px / 50% 0 0 50%
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.25)
    content: ''
  > .table-wrapper
    overflow-x: auto

  &.stacktable.large-only
    display: block

.table-header-information
  font-weight: 300
  padding-bottom: 20px

.table-menu
  text-align: right
  ul
    margin: 0
    padding-left: 0
  li
    list-style-type: none
    display: inline-block
  .options-menu li
    display: block

/* Styling pattern tables for assignment outcome overview */
td.complete, tr.achieved
  background-color: $color-green-1

i.complete
  color: red

td.absent
  background-color: $color-black

i.absent
  color: $color-black

td.partial
  background-color: $color-blue-4

i.partial
  color: $color-green-2

i.missing_grade
  color: $color-grey-6

.collapse-hidden
  padding: .25rem 2rem

.announcements
  .unread
    font-weight: bold
    padding-left: 0.5rem
    border-left: 2px solid $color-blue-3

@media (max-width: 867px)
  table
    th.draggable, td.draggable
      display: none

@media (max-width: $media-1200)
  table
    th, td
      padding: 0.25em

@media (max-width: 800px)
  tbody ul.button-bar li
    margin-left: 0px

  .dynatable-sort-header
    pointer-events: none

  th a:hover
    color: $color-blue-3

  table.stacktable
    border: 1px solid $color-grey-5
    margin-bottom: 1em

    .table-header-row
      background-color: $color-blue-2 !important
      color: $color-white
      text-align: center
      a
        color: $color-white

    .st-key
      text-transform: capitalize

    tr:last-child, tr:first-child
      .st-key
        display: none

    tr:first-child
      .st-val
        padding: .5em
        font-size: .85rem

  .badge-index-table
    .st-key
      width: 25%
    .st-val
      width: 75%
    .button-bar
      text-align: right

  table.second-row-header
    tr:first-child
      display: none
    tr:nth-child(2)
      .st-key
        display: none
      .st-val
        padding: .5em
        font-size: .85rem

  table.no-button-bar
    tr:last-child
      .st-key
        display: table-cell

  table.no-table-header
    tr:first-child
      text-align: left
      .st-key
        display: table-cell
        padding: .25rem
      .st-key, .st-val
        font-size: .7rem


/* New table styling __=^o.o^= */
.table_container
  border: 1px solid $blue-medium_2
  overflow-x: scroll

  table
    min-width: 800px
    border-bottom: 0px solid transparent

  td
    a.table_truncate
      width: 280px
      text-overflow: ellipsis
      white-space: nowrap
      overflow-x: hidden
      display: block

.table_functions
  display: flex
  flex-wrap: wrap
  justify-content: space-between

  & > div
    &:first-child
      flex: 1
      margin-right: 2em

      @include tablet
        margin-right: 0

    &:last-child
      width: 400px

      @include tablet
        width: 100%

  .filter_box
    margin-top: 0

  .search_box
    margin-top: -0.5em
    align-self: flex-end

.table_pagination
  margin: 0.75em 0
  color: $grey_3

  p
    display: inline-block
    margin: 0

  & > div
    display: inline-block
    position: relative
    margin-left: 2em

    button
      min-width: 1.25em
      margin: 0
      padding: 0
      border: 0px solid transparent
      background: none
      color: $blue-medium_1

      &:hover
        background: none
        color: $pink_2

      &.active
        color: $blue_dark
        font-family: 'ProximaNova_regular', sans-serif
        cursor: default

  button.table_prev, button.table_next
    background: url(asset_path("icon-arrow_next.svg")) no-repeat center center
    background-size: contain
    width: 1.25em
    height: 1.25em
    display: inline-block
    position: absolute
    cursor: pointer
    border: 0px solid transparent

    &:hover
      background: url(asset_path("icon-arrow_next.svg")) no-repeat center center
      background-size: contain

    &:disabled
      background: url(asset_path("icon-arrow_next-disabled.svg")) no-repeat center center
      background-size: contain
      cursor: not-allowed

  .table_next
    top: 0.5px
    right: -1.25em

  .table_prev
    left: -1.25em
    transform: rotate(180deg)

.new_style
  table
    .button_container
      display: inline-block
      position: relative

    button, .button
      min-width: fit-content
      display: inline-block
      border: 2px solid $blue-medium_2
      color: $blue-medium_1
      padding: 0.85em 0.5em
      margin: 2px 0.25em 2px 0
      font-size: 0.9em
      line-height: 0
      border-radius: $radius-small

      &.dropdown
        padding-right: 1.5em
        background: white url(asset_path("icon-arrow_select.svg")) no-repeat center right 5px
        background-size: 0.9em auto

        &.open
          background: $blue-medium_2
          color: white

        & + div
          border: 2px solid $blue-medium_2
          background: white
          width: 240px
          position: absolute
          right: 2px
          z-index: 1

          &.is-closed
            display: none

          &.is-open
            display: block

          ul
            margin-top: 0
            margin-left: -40px

          li
            padding: 0.5em
            border-bottom: 1px solid $blue-medium_2
            &:last-of-type
              border-bottom: 0px solid transparent

    span.checked
      display: block
      width: 1em
      height: 1em
      background: url(asset_path("icon-table_Checked.svg")) no-repeat center center
      background-size: contain

    &.has_actions
      tbody
        tr
          td
            &:last-child
              width: 206px

  thead
    background-color: $blue-medium_1
    font-size: 0.85em
    border-bottom: 1px solid $blue-medium_2
    font-family: 'ProximaNova_regular', sans-serif

  th
    border-right: 1px solid white

    &:last-child
      border-right: 0px solid transparent

  td
    ul
      list-style-type: none
      margin-left: -2.25em

      @include mobile-xl
        margin-left: -2.5em

      &:last-child
        margin-bottom: 0

      &.checked_list
        li
          margin-bottom: 0.4em

      &.student_list
        line-height: 1.25em
    li
      margin-bottom: 0.25em
