%section.form-section
  .form-subsection(ng-if="rubricId" ng-if="!assignment.student_logged" )
    %h3.form-subtitle Rubrics
    %rubric-design.rubric-design(data-rubric-id="rubricId")

  .form-subsection(ng-if="!assignment.pass_fail")
    %assignment-score-levels(data-assignment="assignment")

  .form-subsection(ng-if="assignment.student_logged && assignment.pass_fail")
    %p Uncheck student logged or pass/fail to see more grading options