%p
  = simple_form_for grade.assignment, url: delete_self_logged_assignment_grades_path(assignment_id: grade.assignment.id, student_id: grade.student.id), method: :delete do |f|
    = f.submit "Delete self logged grade", class: "button"
