%li= link_to "My Account", edit_profile_users_path
%li.hide-for-small.hide-for-medium= link_to "View Tour", '#', {class: 'modal-open'}
%li= link_to "Logout", :logout
%li= link_to "Manage Subscription", subscriptions_path
