.trial
  %p You haven't paid for an account yet! That's okay, we want you to explore GradeCraft as much as you'd like. But until you purchase a license, you can't:
  %ul.not-available
    %li integrate with other tools (like Canvas or Moodle)
    %li import or add other users

  %p Like what you see? Check out these options to purchase:

  %ul.pricing
    %li.package
      %a{ href: "https://umich.flintbox.com/purchase/f88a9e22-8c35-4884-a3e5-a796da747f4d/basic_info", target: "_blank", class: "signup button higher-ed" } Higher Ed - $40 / 1 site for 6 months
    %li.package
      %a{ href: "https://umich.flintbox.com/purchase/7047eb09-6407-4669-b0ce-587af5e7db9d/basic_info", target: "_blank", class: "signup button higher-ed" } Higher Ed - $60 / 2 sites for 6 months
    %li.package
      %a{ href: "https://umich.flintbox.com/purchase/28862fab-055a-488e-88ed-35101a2daf0e/basic_info", target: "_blank", class: "signup button k-12" } K-12 - $120 / 10 sites for 1 year
    %li.package
      %a{ href: "mailto:help@gradecraft.com?subject=School/District Usage Request", class: "button contact special-pricing" } School/District/Program / Email for Pricing
